div {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vw;
    width: 100vw;
    flex-direction: column;

}

.second-container {
    display: flex;
    flex: 1;
}

.third-container {
    display: flex;
    flex-direction: column;
    
}

.firstgen {
    flex: 1;
    border: 1px solid lightcoral;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.btn {
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: lightseagreen;
    padding: 10px 20px;
    border: none;
}